<header>
  <nav>
    <!-- TODO: NavBar -->
  </nav>
</header>
<section class="first-section">
  <div class="slider-container">
    <div>
      <p>Tyler Robert Joseph</p>
      <p>Joshua William Dun</p>
    </div>
    <div>
      <h1>Twenty One Pilots</h1>
      <home-slider [imgs]="images"></home-slider>
    </div>
    <div>
      Box3
    </div>
  </div>
</section>
<article>
  <section class="second-section">
    <h2>¡Bienvenido a un sitio web donde conocerás un poco más sobre "Twenty One Pilots"!
    </h2>
    <h3>
      Un poco sobre ellos...
    </h3>
    <p>
      Twenty One Pilots se formó en 2009 y ganó popularidad gradualmente a través de actuaciones en vivo y la publicación de música en línea. Su primer álbum, "Twenty One Pilots", fue lanzado en 2009 de manera independiente. A medida que ganaron seguidores, su segundo álbum, "Regional at Best" (2011), continuó su éxito en la escena indie.
      <br>
      Sin embargo, fue su tercer álbum, "Vessel" (2013), lanzado bajo el sello discográfico Fueled by Ramen, lo que realmente catapultó a la banda a la fama internacional. El sencillo "Stressed Out" de este álbum se convirtió en un éxito masivo y les ganó una gran audiencia.
    </p>
  </section>
</article>
